@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AuthLayout";
    ViewData["title"] = "Register";
    ViewData["Greeting"] = "Create an Account!";
}
@model LibraryMVC.Models.RegisterModel
<form asp-action="register" asp-controller="Auth" method="post">
    <div class="form-group row">
        <div class="col-sm-12">
            <input asp-for ="Username" class="form-control form-control-user" placeholder="UserName">
        </div>
    </div>
    <div class="form-group">
        <input asp-for ="Email" asp-validation-for="Email"  class="form-control form-control-user"  placeholder="Email Address">
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input asp-for=Password asp-validation-for="Password" class="form-control form-control-user"
                placeholder="Password">
        </div>
        <div class="col-sm-6">
            <input asp-for="ConfirmPassword" asp-validation-for="ConfirmPassword" class="form-control form-control-user" id="exampleRepeatPassword"
                placeholder="Repeat Password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Register Account
    </button>
    <hr>
    <a href="#" class="btn btn-google btn-user btn-block">
        <i class="fab fa-google fa-fw"></i> Register with Google
    </a>
    <a href="#" class="btn btn-facebook btn-user btn-block">
        <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
    </a>
</form>
