@using LibraryMVC.Enums
@model PagingItem<LibraryItemModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form asp-action="Filter" asp-controller="Home" method="post">
        <div>
            <label>Type</label>

            <select name="itemType" asp-items="Html.GetEnumSelectList<ItemType>()" onchange="this.form.submit()">
                <option value="" disabled selected>Choose type</option>
            </select>
        </div>

    </form>
</div>
@if (Model.Items.Count == 0)
{
    <h1>No items found</h1>
}
<div class="row justify-content-center">
    @foreach (var item in Model.Items)
    {
        <partial name="_ItemCard" model="item"/>
    }
</div>

<partial name="_Paging" model="Model"></partial>