@{
    var errorMessages = TempData["Error"] as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - LibraryMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/LibraryMVC.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @errorMessages
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LibraryMVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <form asp-action="Search" asp-controller="Home" class="d-flex mx-5" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchParam">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </li>

                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav mx-4">
                        <a class="nav-link text-dark" asp-controller="Borrow" asp-action="Index"> Borrow history </a>
                    </ul>
                    @if (User.IsInRole("Admin"))
                    {
                        <ul class="navbar-nav mx-4">
                            <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index"> Admin </a>
                        </ul>
                    }

                    <ul class="navbar-nav mx-4">
                        <a class="nav-link text-dark" asp-controller="Auth" asp-action="logout"> Logout </a>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav mx-4">
                        <a class="nav-link text-dark" asp-controller="Auth" asp-action="register"> Register </a>
                        <a class="nav-link text-dark" asp-controller="Auth" asp-action="login"> Login </a>
                    </ul>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - LibraryMVC - <a href="#">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@if (!string.IsNullOrEmpty(errorMessages))
{
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
        errorModal.show();
        });
    </script>
}
@await RenderSectionAsync("Scripts", false)
</body>
</html>